.about{

    background-color:#3e497a;
    width:100%;
    height: calc(100vh - 100px);
}
.about h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #e9d35b;
 
  }


 
  .about .prompt {
    width: 40%;
    font-size: 30px;
  }
  .prompt svg {
    font-size: 40px;
    margin: 5px;
    color: white;
  }
  .title {
    color: yellowgreen; 
  }