@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);


.my-2:hover {
    background: #920617;
    color:black;
    text-decoration: none;
    border-radius: 10px;
    
  
    

}
.my-2{
   
    color:rgb(134, 6, 139);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
   
    
  
      
   }